@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    font-size: 30px;
    padding: 15px 5px;
    color: white;
}

.notActive{
    color: black;
    font-weight: 100;
    font-size: 30px;
    background-color: transparent;
}